body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #27273e;
  width: 100%;
  height: 65px;
  position: relative;
  padding-top: 10px;
}

.logo {
  margin-left: 20px;
}

.header__contacts {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
  text-align: right;
}

.header__tel {
  text-decoration: none;
  color: #ffffff;
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 21px;
}

.header__worktime {
  color: #b12167;
  font-family: 'GothaProLig', "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.banner__img {
  width: 100%;
}


@font-face {
  font-family: 'GothaProBol'; 
  src: url('Fonts/GothaProBol.otf') format('ttf.'); 
 }

 @font-face {
  font-family: 'GothaProLig'; 
  src: url('Fonts/GothaProLig.otf') format('ttf.'); 
 }

 @font-face {
  font-family: 'GothaProLigIta'; 
  src: url('Fonts/GothaProLigIta.otf') format('ttf.'); 
 }