@font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProBol.woff') format('woff.');
  src: url('fonts/GothaProBol.woff2') format('woff2.');
  font-weight: 700;
  font-style: normal;
 }

 @font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProLig.woff') format('woff.'); 
  src: url('fonts/GothaProLig.woff2') format('woff2.'); 
  font-weight: 500;
  font-style: normal;
 }

 @font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProLigIta.woff') format('woff.'); 
  src: url('fonts/GothaProLigIta.woff2') format('woff2.'); 
  font-weight: 500;
  font-style: italic;
 }

body {
  margin: 0;
  padding: 0;
  width: 1100px;
}

ul {
  padding: 0;
}

a {
  text-decoration: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.header {
  background-color: #27273e;
  width: 100%;
  height: 65px;
  position: relative;
  padding-top: 10px;
}

.header__logo {
  margin-left: 20px;
}

.header__contacts {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
  text-align: right;
}

.header__tel {
  text-decoration: none;
  color: #ffffff;
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 21px;
}

.header__worktime {
  color: #b12167;
  font-family: 'GothaProLig', "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.banner__img {
  width: 100%;
}

.sidebar {
  width: 160px;
  padding: 20px;
  display: inline-block;
  float: left;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-bottom: 30px; 
}

.menu__text {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  color:#ec1e79;
  text-decoration: none;
  margin-left: 10px;
}

.menu__text-active {
  color: black;
  border-bottom: 1px solid gray;
}

.feature {
  width: 800px;
  float: left;
}

.title {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 49px;
}

.feature__block {
  width: 250px;
  display: inline;
  float: left;
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}


.feature__logo {
  background-color: #27273e;
  border-radius: 50% 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
}

.feature__logo-img {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.feature__header {
  font-size: 17px;
}

.feature__text {
  text-align: center;
}

.feature__description {
  text-align: left;
}

.feature__item {
  color: #ec1e79; 
}

.feature__item span {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-left: 30px;
  color: black;
}




.news {
  display: block;
  margin-left: 18%;
  clear: both;
}

.news__list {
padding: 0;
}

.news__item {
list-style: none;
border-bottom: 2px solid #f5f5f5;
margin-bottom: 30px;
}

.news__img {
  display: inline-block;
  width: 18%;
  border-radius: 50% 50%;
}

.news__desc {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin-left: 10px;
}

.news__name {
  margin: 10px 0;
}

.news__description {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px; 
}

.date {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px; 
  color: #989898;
}

.pagination {
display: block;
}

.pagination__controls, .pagination__pages-link {
  display: inline-block;
}

.pagination__display {
  display: inline-block;
}

.pagination__controls {
width: 60%;
}

.pagination__pages-item {
  display: inline-block;
}

.pagination__pages-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  background-color: #27273e;
  width: 100%;
  height: 75px;
  position: relative;
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: white;
}

.footer__author {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
}

.footer__author-text {
  margin-block-end: 0;
  margin-block-start: 0;
}

.footer__author-link {
  border-bottom: 1px solid gray;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.footer__logo {
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 15px;
}

.footer__socials {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 20px;
  text-align: left;

}

.footer__socials-text {
  margin: 0;
  color: white;
  margin-bottom: 5px;
}

.footer__socials-link {
  background-color: #d4d4d8;
  border-radius: 50% 50%;
  text-decoration: none;
  display: inline-block;
  width: 19px;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

@font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProBol.woff') format('woff.');
  src: url('fonts/GothaProBol.woff2') format('woff2.');
  font-weight: 700;
  font-style: normal;
 }

 @font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProLig.woff') format('woff.'); 
  src: url('fonts/GothaProLig.woff2') format('woff2.'); 
  font-weight: 500;
  font-style: normal;
 }

 @font-face {
  font-family: 'GothaPro'; 
  src: url('fonts/GothaProLigIta.woff') format('woff.'); 
  src: url('fonts/GothaProLigIta.woff2') format('woff2.'); 
  font-weight: 500;
  font-style: italic;
 }