html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: 0;
}

.wrapper {
  min-width: 1200px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.wrapper-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../images/intro.png') center center / cover no-repeat;
}

.container {
  width: 1175px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}


