.breadcrumbs {

  padding-left: 61px;
}

.breadcrumbs__list {
  list-style: none;
  font-family: 'GothaProLigIta', 'Trebuchet MS', sans-serif;
  color: #ec1e79;
  font-size: 14px;
  display: flex;
}

.breadcrumbs__item {
}

.breadcrumbs__item:after {
  content: "/ ";
  vertical-align: middle;
  margin-right: 5px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}


.breadcrumbs__link {
  text-decoration: none;
  color: #ec1e79;
}

.breadcrumbs__link--unactive {
  color: black;
}