.contacts {
  font-weight: normal;
  margin-top: 10px;
}


.contacts__tel {
  text-decoration: none;
  color: #ffffff;
  font-family: GothaProBol, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
}

.contacts__dropdown {
  display: block;
  color: #b12167;
  font-family: 'GothaProBol', "Trebuchet MS", sans-serif;
  font-size: 14px;
  position: relative;
  text-align: right;
  font-style: normal;
  padding-right: 13px;
  padding-bottom: 20px;
}

.contacts__dropdown:hover .contacts__menu  {
  display: block;
}

.contacts__menu {
  position: absolute;
  background: #fff;
  padding: 10px 8px;
  filter: drop-shadow(3px 3px 3px gray);
  width: 158px;
  top: 100%;
  left: 16%;
  display: none;
  border-radius: 4px 0px 4px 4px;
}

.contacts__list {
  text-align: left;
  position: relative;
}

.contacts__list:after {
  content: '';
  left: 84%;
  border: 15px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: white;
  border-top-width: 0px;
  position: absolute;
  bottom: 119%;
}


.contacts__link {
  text-decoration: underline;
  line-height: 1.5;
}

.contacts__item {
  padding: 5px 0px;
  color: black;
  font-family: 'GothaProLig', "Trebuchet MS", sans-serif;
}

.contacts__item--pink {
  color: #b12167;
  font-family: 'GothaProBol', "Trebuchet MS", sans-serif;
}