.content {
  display: block;
  padding-left: 50px;
}


.content__list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content__item {
  list-style: none;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 12px;
  padding-left: 17px;
}

.content__img {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50% 50%;
  background: #f5f5f5 url(../../images/logo-fig-gray.png) no-repeat 50% 50%;
}


.content__desc {
  display: inline-block;
  width: 76%;
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 39px;

}

.content__description {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 29px;
}