.content {
  display: block;
}

.content__list {
  padding: 0;
  margin-left: 5px;
}

.content__item {
  list-style: none;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 11px;
  display: flex;
}

.content__avatar {
  display: inline-block;
  width: 19%;
  height: 19%;
  min-height: 150px;
  overflow: hidden;
  border-radius: 50% 50%;
  background: #f5f5f5 url(../../images/logo-fig-gray.png) no-repeat 50% 50%;
}

.content__img {
  min-width: 100%;
  display: block;
}

.content__img--h175 {
  height: 175px;
}


.content__desc {
  width: 76%;
  margin-left: 21px;
  margin-bottom: 39px;

}

.content__desc-title {
  
  margin: 7px 28px 9px 1px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
}

.content__description {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.25px;
}