/*
.feature {
  display: block;
  padding-left: 50px;
}
*/

.feature__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
}

.feature {
  padding-right: 30px;
  margin-top: 26px;
  width: 100%;
  font-family: 'GothaProLig', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.feature__block:hover {
  border: 1px solid #d4d4d8;
}


.feature__avatar {
  background-color: #27273e;
  border-radius: 50% 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 29px;
}

.feature__logo {
  background-image: url('../../images/spritesheet.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 20px;
}

.feature__logo--flower {
  width: 27px;
  height: 31px;
  background-position: -81px -5px;
}

.feature__logo--star {
  width: 32px;
  height: 32px;
  background-position: -257px -5px;
}

.feature__logo--palette {
  width: 28px;
  height: 29px;
  background-position: -219px -5px;
}

.feature__name {
  font-size: 11px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.feature__text {
  text-align: center;
  margin-top: 21px;
  line-height: 30px;
}

.feature__description {
  text-align: left;
  line-height: 34px;
  margin: 0 auto;
}

.feature__item {
  color: #ec1e79;
  list-style-type: disc;
}

.feature__item span {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-left: 10px;
  color: black;
}

.feature__title {
  padding-top: 26px;
  font-size: 18px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  margin-bottom: 29px;
}

/*
. {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.-fb {
    width: 6px;
    height: 13px;
    background-position: -5px -5px;
}

.-feed_icon {
    width: 20px;
    height: 18px;
    background-position: -21px -5px;
}

.-feed_icon_black {
    width: 20px;
    height: 18px;
    background-position: -51px -5px;
}

.-flower {
    width: 27px;
    height: 31px;
    background-position: -81px -5px;
}

.-google {
    width: 15px;
    height: 9px;
    background-position: -118px -5px;
}

.-mail {
    width: 12px;
    height: 9px;
    background-position: -143px -5px;
}

.-main_icon {
    width: 17px;
    height: 15px;
    background-position: -165px -5px;
}

.-main_icon_pink {
    width: 17px;
    height: 15px;
    background-position: -192px -5px;
}

.-palette {
    width: 28px;
    height: 29px;
    background-position: -219px -5px;
}

.-star {
    width: 32px;
    height: 32px;
    background-position: -257px -5px;
}

.-twitter {
    width: 11px;
    height: 9px;
    background-position: -299px -5px;
}

.-vk {
    width: 12px;
    height: 7px;
    background-position: -320px -5px;
}

.-wallet_icon {
    width: 19px;
    height: 16px;
    background-position: -342px -5px;
}

.-wallet_icon_black {
    width: 19px;
    height: 16px;
    background-position: -371px -5px;
}
*/