.feature {
  display: block;
  padding-left: 50px;
}

.feature__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
}

.feature__block {
  width: 31%;
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  min-height: 300px;
  padding: 30px 27px 0px 43px;
  display: flex;
  flex-direction: column;
  margin-right: -12px;
}

.feature__block:hover {
  border: 1px solid #d4d4d8;
}


.feature__logo {
  background-color: #27273e;
  border-radius: 50% 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;

}


.feature__logo--flower {
  background: #27273e url(../../images/flower.png) no-repeat 50% 50%;
}

.feature__logo--star {
  background: #27273e url(../../images/star.png) no-repeat 50% 50%;
}

.feature__logo--palette {
  background: #27273e url(../../images/palette.png) no-repeat 50% 50%;
}

.feature__header {
  font-size: 11px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.feature__text {
  text-align: center;
  margin-top: 21px;
  line-height: 30px;
}

.feature__description {
  text-align: left;
  line-height: 34px;
  margin: 0 auto;
}

.feature__item {
  color: #ec1e79;
  list-style-type: disc;
}

.feature__item span {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-left: 10px;
  color: black;
}