.feedback {
  padding: 60px;
  font-family: 'GothaProLig', 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  width: 44%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 77px 51px 0px 67px;

}



.feedback__title {
  margin-block-start: 0;
  margin-bottom: 26px;
  margin-left: 0;
}

.feedback__form {
  border: none;
  height: 45px;
  width: 100%;
  padding: 15px 0 15px 8px;
  font-size: 15px;
  border-radius: 3px;
}

.feedback__form:focus {
  border: 1px solid #ec1e79;
  outline: none;
}

.feedback__row {
  display: flex;
  flex-wrap: wrap;
}

.feedback__block {
  flex: 1 0 250px;
  padding-right: 20px;
}

.feedback__subtext {
  display: inline-block;
  margin-bottom: 10px;
}

.feedback__textarea {
  padding-top: 13px;
  width: 100%;
}



.feedback__textarea-form {
  border: 1px solid #ec1e79;
  font-size: 14px;
  width: 97%;
  border-radius: 3px;
  color: black;
  padding-top: 5px;
  padding-left: 5px;
}

.feedback__footer {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.feedback__footer-radio-field-text {
  margin-block-start: 0;
}

.feedback__footer-radio {
  display: inline-block;
}



.feedback__footer-button-field {
  padding-right: 18px;
  padding-top: 4px;
}

.feedback__footer-button-form {
  color: white;
  background-color: #27273e;
  border-radius: 5px;
  padding: 16px 21px;
  border: none;
  font-size: 12px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.feedback__footer-button-form:hover {
  background-color: #ec1e79;
  cursor: pointer;
}