.footer {
  background-color: #27273e;

  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: white;

}

.footer__author {
  width: 33%;
}

.logo-footer {
  width: 33%;
  text-align: center;
}

.footer__author-text {
  width: 280px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.footer__author-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: 0.4s;
}

.footer__author-link:hover {
  color: #ec1e79;
}

.footer__author-link.schoollink:hover {
  border-bottom: 1px solid #ec1e79;
}

.schoollink {
  border-bottom: 1px solid gray;
}