.header {
  background-color: #27273e;
  margin-bottom: 62px;
}

.header--movedown {
  margin-bottom: 27px;
}



.header__contacts {
  font-weight: normal;
}


.header__tel {
  text-decoration: none;
  color: #ffffff;
  font-family: GothaProBol, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
}

.header__worktime {
  display: block;
  color: #b12167;
  font-family: 'GothaProLig', "Trebuchet MS", sans-serif;
  font-size: 14px;
  border: none;
  text-decoration: underline;
  background-color: #27273e;
  margin-left: 70px;
  line-height: 1.5;

}

.header__worktime:hover {
  color: #747cac;
  cursor: pointer;
}