.intro {
  min-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__main {
  background: url('../../images/intro-pink.png') no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh;
  min-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro__animation {
  padding: 200px 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: twist 0.5s ease-in;

}

.intro__logo {
  width: 160px;
  padding: 20px;
}

.intro__text {
  font-size: 16px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.intro__link {
  text-decoration: none;
}

.intro__step-to-main {
  font-size: 10px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  color: #ec1e79;
  border: 3px solid #ec1e79;
  text-transform: uppercase;
  padding: 10px;

}

@keyframes twist {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  25% {
    transform: translateY(0);
  }

  50% {
    opacity: 0.3;
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
  }
}