.pagination {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 10px 0px 63px;
  font-family: 'GothaProLig', Arial, sans-serif;
  font-size: 14px;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination__controls,
.pagination__link {
  display: inline-block;
}

.pagination__display {
  display: inline-block;
  color: #6f6e6e;
  padding-left: 66px;
  margin-right: 15px;
}

.pagination__prev {
  width: 8px;
  height: 8px;
  border-left: 2px solid #bebdbd;
  border-bottom: 2px solid #bebdbd;
  transform: rotate(45deg);
  transform-origin: 0 100%;
  margin: 0 auto;
  margin-bottom: 7px;
}

.pagination__next {
  width: 8px;
  height: 8px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  margin: 0 auto;
  margin-top: 2px;
}

.pagination__controls {
  width: 70%;
  padding-left: 21px;
}

.pagination__item {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 10px;
  margin-left: 8px;
}

.pagination__link:hover {
  color: #ec1e79;
}

.pagination__item--active {
  background-color: #27273e;
  border-radius: 3px;
  color: white;
  padding: 4px 12px;
}

.pagination__link--active {
  color: white;
}

.pagination__link--active:hover {
  color: #ec1e79;
  cursor: pointer;
}

.pagination__comments {
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: -165px;
}