
.partners__title {
  margin-bottom: 60px;
}

.partners__field {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}

.partners__link {
  text-decoration: none;
  cursor: pointer;
}

.partners__link {
  width: 33%;
  filter: grayscale(1);
  margin-bottom: 35px;
}

.partners__link:hover {
  filter: grayscale(0);
}