
.prices {
  padding-left: 61px;
  margin-bottom: 20px;
}

.prices__title {
  margin-bottom: 48px;
  padding-top: 27px;
  margin-left: -4px;
}

.prices__field {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.prices__list {
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
}

.prices__item {
  width: 230px;
  margin-right: 76px;
  margin-bottom: 38px;
  text-align: center;
  position: relative;

}

.prices__pic {
  display: block;
 
  border-radius: 3px;
  height: 153px;
  width: 247px;
}



.prices__description-text {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

.prices__visual:before {
  content: '';
  color: #5dd1f8;
  font-size: 22px;
  font-family: 'GothaProBol', 'Trebuchet MS', Arial, sans-serif;
  background: #27273e;
  filter: opacity(0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px;
  width: 107%;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  line-height: 20px;

}

.prices__visual--odin:before {
  content: '«ОДИН»';
}

.prices__visual--troe:before {
  content: '«ТРОЕ»';
}

.prices__visual--10:before {
  content: '«10-10»';
}

.prices__visual--bezlimit:before {
  content: '«БЕЗЛИМИТ НА ОДНОГО»';
}

.prices__visual:after {
  content: '';
  font-size: 22px;
  font-family: 'GothaProBol', 'Trebuchet MS', Arial, sans-serif;
  filter: opacity(0.9);
  position: absolute;
  top: 35px;
  left: 95px;
  color: #ec1e79;
  transition: 0.5s;
}

.prices__visual--bezlimit:after {
  content: '«VIP»';
}

.prices__visual--allinclusive:before {
  content: '«ВСЁ ВКЛЮЧЕНО»';
}

.prices__visual--allinclusive:after {
  content: '«VIP»';
  top: 45px;
}

.prices__visual--peregovory:before {
  content: '«ПЕРЕГОВОРЫ»';
}

.prices__visual:hover:before, .prices__visual:hover:after {
  filter: opacity(0);
}