.sale {
  margin-top: 0px;
  background: #27273e url(../../images/item.png) round 50% 50%;
  padding-top: 42px;
  padding-bottom: 44px;
  margin-bottom: 61px;
}


.sale__banner {
  margin: 0 auto;
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
  width: 620px;
  text-align: left;
  line-height: 29px;

}

.sale__banner-decription-price {
  color: #ec1e79;
  font-weight: bold;
}