.sale {
  margin: 8px 0px 25px 0px;
  background: #27273e url(../../images/item.png) round 50% 50%;
  padding: 5px;
  width: 274px;
  height: 229px;
}


.sale__banner {
  font-family: 'GothaProLig', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 29px;
 

}

.sale__banner-decription-price {
  color: #ec1e79;
  font-weight: bold;
}