.sidebar {
  align-self: flex-start;
  padding-top: 65px;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-bottom: 30px;
}

.menu__text {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  color: #ec1e79;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  letter-spacing: 5px;
}

.menu__text-active {
  color: black;
}

.menu__text:hover {
  color: black;
}

.menu__text:hover .menu__icon--main {
  background: url(../../images/main_icon.png) no-repeat 50% 50%;
}

.menu__text:hover .menu__icon--feed {
  background: url(../../images/feed_icon_black.png) no-repeat 50% 50%;
}

.menu__text:hover .menu__icon--wallet {
  background: url(../../images/wallet_icon_black.png) no-repeat 50% 50%;
}

.menu__icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
}

.menu__icon--main {
  background: url(../../images/main_icon_pink.png) no-repeat 50% 50%;
}

.menu__icon--main-active {
  background: url(../../images/main_icon.png) no-repeat 50% 50%;
}

.menu__icon--feed {
  background: url(../../images/feed_icon.png) no-repeat 50% 50%;
}

.menu__icon--feed-active {
  background: url(../../images/feed_icon_black.png) no-repeat 50% 50%;
}

.menu__icon--wallet {
  background: url(../../images/wallet_icon.png) no-repeat 50% 50%;
}

.menu__icon--wallet-active {
  background: url(../../images/wallet_icon_black.png) no-repeat 50% 50%;
}