.sidebar {
  align-self: flex-start;
  flex: 2;
}

.aside__title {
  font-size: 18px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 30px;
}

.aside__title--partners {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 20px;
}
