.sidebar {
  align-self: flex-start;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-bottom: 24px;
  display: flex;
}

.menu__link {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  color: #ec1e79;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
  line-height: 2.15;
  position: relative;
  padding-left: 38px;
}

.active, .menu__link:hover {
  color: black;
}

.menu__link:before, .menu__link:after  {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url('../../images/spritesheet.png');
  background-repeat: no-repeat;
  transition: 0.5s;
}

.menu__link:after {
  opacity: 0;
}

.menu__link--main:before {
  width: 17px;
  height: 15px;
  background-position: -192px -5px;
}

.menu__link--main:after {
  background-position: -165px -5px;
  
}

.menu__link--feed:before {
  width: 20px;
  height: 18px;
  background-position: -21px -5px;
}

.menu__link--feed:after {
  background-position: -51px -5px;
}

.menu__link--wallet:before {
  width: 19px;
  height: 16px;
  background-position: -342px -5px;
}

.menu__link--wallet:after {
  background-position: -371px -5px;
}

.menu__link:hover:after {
  opacity: 1;
}

.menu__link:hover.active {
  color: black;
}

.menu__link:hover:after.active {
  opacity: 0;
}

/*

.menu__link:hover .menu__icon--main {
  background: url(../../images/main_icon.png) no-repeat 50% 50%;
}

.menu__link:hover .menu__icon--feed {
  background: url(../../images/feed_icon_black.png) no-repeat 50% 50%;
}

.menu__link:hover .menu__icon--wallet {
  background: url(../../images/wallet_icon_black.png) no-repeat 50% 50%;
}

.menu__icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
}



.menu__link--main-active:before, .menu__link--main:hover::before {
  background: url(../../images/main_icon.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}

.menu__link--main:before {
  background: url(../../images/main_icon_pink.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}

.menu__link--feed:before {
  background: url(../../images/feed_icon.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}

.menu__link--feed:hover::before, .menu__link--feed-active:before {
  background: url(../../images/feed_icon_black.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}


.menu__link--wallet:before {
  background: url(../../images/wallet_icon.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}


.menu__link--wallet-active:before, .menu__link--wallet:hover::before {
  background: url(../../images/wallet_icon_black.png) no-repeat 50% 50%;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  vertical-align: bottom;
}

.menu__text-active {
  color: black;
}

.menu__icon--main {
  background: url(../../images/main_icon_pink.png) no-repeat 50% 50%;
}

.menu__icon--main-active {
  background: url(../../images/main_icon.png) no-repeat 50% 50%;
}

.menu__icon--feed {
  background: url(../../images/feed_icon.png) no-repeat 50% 50%;
}

.menu__icon--feed-active {
  background: url(../../images/feed_icon_black.png) no-repeat 50% 50%;
}

.menu__icon--wallet {
  background: url(../../images/wallet_icon.png) no-repeat 50% 50%;
}

.menu__icon--wallet-active {
  background: url(../../images/wallet_icon_black.png) no-repeat 50% 50%;
}

*/


