/*
.socials {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}
*/

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  width: 100%;
}

.socials__list {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  display: flex;
  margin-right: 24px;
}

/*
.socials__text {
  margin: 0;
  color: gray;
  margin-bottom: 6px;
  padding-right: 6px;
  font-size: 14px;
  font-weight: bold;
}
*/

.socials__text {
  margin: 0;
  font-family: 'GothaProBol', Arial, sans-serif;
  font-size: 15px;
  color: black;
  margin-bottom: 7px;
  padding-right: 6px;
  font-size: 14px;
  font-weight: bold;
}

.socials__item:last-child {
  padding-right: 0;
}

.socials__link {
  text-decoration: none;
  margin: 5px;
  border-radius: 50% 50%;
  background: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.3s;
}

/*
.socials__avatar {
  background-color: #d4d4d8;
  border-radius: 50% 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}


.socials__avatar {
  border-radius: 50% 50%;
  background: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}
*/


.socials__link:after {
  content: '';
  background-image: url('../../images/spritesheet-one.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 4px;
} 

.socials__link--vk:after {
  width: 12px;
  height: 7px;
  background-position: -233px -5px;
}

.socials__link--fb:after {
  width: 6px;
  height: 13px;
  background-position: -5px -5px;
  top: 4px;
  left: 7px;
}

.socials__link--ggl:after {
  width: 15px;
  height: 9px;
  background-position: -111px -5px;
  top: 6px;
  left: 3px;
}

.socials__link--tw:after {
  width: 11px;
  height: 9px;
  background-position: -212px -5px;
  top: 6px;
  left: 5px;
}

.socials__link--ml:after {
  width: 12px;
  height: 9px;
  background-position: -136px -5px;
  top: 6px;
  left: 4px;
}

.socials__link:hover {
  background-color: #ec1e79;
}

/*  Новый спрайт !!!!!!!!!!!!!!!!

. {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.-fb {
    width: 6px;
    height: 13px;
    background-position: -5px -5px;
}

.-feed_icon {
    width: 20px;
    height: 18px;
    background-position: -21px -5px;
}

.-feed_icon_black {
    width: 20px;
    height: 18px;
    background-position: -51px -5px;
}

.-feed_icon_white {
    width: 20px;
    height: 18px;
    background-position: -81px -5px;
}

.-google {
    width: 15px;
    height: 9px;
    background-position: -111px -5px;
}

.-mail {
    width: 12px;
    height: 9px;
    background-position: -136px -5px;
}

.-main_icon {
    width: 17px;
    height: 15px;
    background-position: -158px -5px;
}

.-main_icon_pink {
    width: 17px;
    height: 15px;
    background-position: -185px -5px;
}

.-twitter {
    width: 11px;
    height: 9px;
    background-position: -212px -5px;
}

.-vk {
    width: 12px;
    height: 7px;
    background-position: -233px -5px;
}

.-wallet_icon {
    width: 19px;
    height: 16px;
    background-position: -255px -5px;
}

.-wallet_icon_black {
    width: 19px;
    height: 16px;
    background-position: -284px -5px;
}

.-wallet_icon_white {
    width: 19px;
    height: 16px;
    background-position: -313px -5px;
}



 */