.socials {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.socials__list {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  display: flex;
  margin-right: 24px;
}

.socials__text {
  margin: 0;
  color: white;
  margin-bottom: 6px;
  padding-right: 6px;
  font-size: 14px;
  font-weight: bold;
}

.socials__item:last-child {
  padding-right: 0;
}

.socials__link {
  text-decoration: none;
  margin: 5px;
}

.socials__img {
  background-color: #d4d4d8;
  border-radius: 50% 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.socials__img:hover {
  background-color: #ec1e79;
}

.socials__img--vk {
  background: #d4d4d8 url(../../images/vk.png) no-repeat 50% 50%;
}

.socials__img--fb {
  background: #d4d4d8 url(../../images/fb.png) no-repeat 50% 50%;
}

.socials__img--ggl {
  background: #d4d4d8 url(../../images/google.png) no-repeat 50% 50%;
}

.socials__img--tw {
  background: #d4d4d8 url(../../images/twitter.png) no-repeat 50% 50%;
}

.socials__img--ml {
  background: #d4d4d8 url(../../images/mail.png) no-repeat 50% 50%;
}