.title {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 49px;
  margin-left: 21px;
}

.news__title {
  margin: 73px 0px 70px 19px;
}

.title-3 {
  margin: 7px 0px 11px 0px;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.comments__title {
  margin-bottom: 39px;
  padding-top: 33px;
}

.feedback__title {
  margin-bottom: 50px;
}