.title {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 49px;
  margin: 50px;
}

.title-3 {
  margin: 10px 0;
  font-family: 'GothaProBol', 'Trebuchet MS', sans-serif;
}

