.title {
  font-family: 'GothaProBol', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 49px;
  margin-left: 22px;
  line-height: 0.8em;
}

.news__title {
  margin: 26px 0px 78px 0px;
}

.comments__title {
  margin-bottom: 45px;
  padding-top: 6px;
  margin-left: -9px;
}

.prices__title {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 49px;
  margin-top: -19px;
  margin-left: -5px;
  padding-left: 20px;
}

.feedback__title {
  margin-bottom: 50px;
}